.form {
  .container {
    h1 {
      font-size: 2.5rem;
    }
    max-width: 800px;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    .input-wrapper {
      margin-top: 1.5rem;
      input,
      textarea {
        width: 100%;
        color: white;
        font-size: 1.2rem;
        padding: 0.7rem;
        border: 1px solid #393e46;
      }
    }
  }
}

@media (max-width: 800px) {
  .form {
    .container {
      .input-wrapper {
        input,
        textarea {
          font-size: 1rem;
        }
      }
    }
  }
}
